%h1 ¿Quiénes somos?
#about
  %p.odd
    Somos una institución formadora con una larga trayectoria en el campo del pensamiento psicoanalítico vincular.
  %p.even
    Conformamos la misma, profesionales de diferentes disciplinas interesados en las dinámicas vinculares, avocados a la docencia, investigación, asistencia y apertura a la comunidad.
  %p.odd
    La perspectiva del psicoanálisis vincular aporta herramientas que permiten el abordaje de la complejidad de las demandas actuales.
