%h1 Secretarías
#seclist
  %span Secretaría Docente
  .sec-content
    %h2 CURSOS DE FORMACIÓN EN PSICOANÁLISIS DE LAS CONFIGURACIONES VINCULARES: PAREJA, FAMILIA, GRUPO E INSTITUCIONES
    %i (Dirigido a médicos, psicólogos, psicopedagogos, trabajadores sociales y otros profesionales universitarios, terciarios y tesistas).
    %h3 Desarrollos programáticos:
    %ul
      %li Psicoanálisis de las Configuraciones Vinculares.
      %li Pensamiento Contemporáneo y Subjetividad.
      %li Psicoanálisis de Familia.
      %li Psicoanálisis de Pareja.
      %li Psicoanálisis de Grupo.
      %li Análisis Institucional.
    %h3 Modalidad  académica:
    %p Seis Módulos de cinco meses cada uno; frecuencia quincenal: los primeros y terceros viernes del mes de 16,30 a 20,30 hs. Modalidad presencial.
    %p Clases teórico- clínicas.
    %p Talleres de integración.
    %p Grupos de reflexión.
    %p Espacios de supervisión grupal.
    %p Evaluaciones individuales y grupales al cierre de módulos.
    %p Trabajo Final en grupo.
    %h2 Especialidad en Psiquiatría Infanto-Juvenil
    %p En convenio con la universidad Católica de Córdoba, la APCVC, a través de su equipo docente, dicta seminarios en el curso de Psiquiatría Infanto-Juvenil, que depende de la Facultad de Medicina.
    %h2 Reuniones del Equipo Docente
    %p Con frecuencia quincenal, los primeros y terceros viernes del mes de 10 a 12 hs. en la sede de la asociación, destinadas a la organización, debate y evaluación de las tareas docentes y como ámbito de discusión de temáticas teórico-clínicas.
  %span Secretaría Científica
  .sec-content
    %h2 Secretaría Científica
    %p La secretaría Científica busca crear y fomentar distintas actividades que abran espacios de diálogo, de intercambio y debate.
    %p Dichas actividades son tanto abiertas al  público en general como también específicas para  profesionales.
    %p En la actualidad se encuentra abierto el espacio de "Ciclo debate", de él han participado diferentes profesionales tanto de nuestra institución como de otras.
    %h2 Grupos de Investigación
    %h3 Grupo de Investigación en Clínica Vincular Psicoanalítica:
    %ul
      %li Caminotti, Margarita
      %li Cejas, Ma. del Carmen
      %li Frizzo, Nilda
      %li Gaido, Graciela
      %li Ribero, Rosa
    %h3 Grupo de Investigación en Teoría y Clínica de Pareja y Familia
    %ul
      %li Gigena, María del Carmen
      %li Kowadlo, Luisa
      %li Leporati, Adriana
      %li Orortegui, Patricia
      %li Torriglia, Susana
    %h4 Equipo de Pubertad y Adolescencia
    %ul
      %li Lic. Paola Alvarez
      %li Lic. Alejandra Campanille
      %li Lic. Daniela Marini
      %li Lic. Diana Peralta
      %li Lic. Carolina Territoriale
  %span Secretaría de Apertura y Asistencia a la Comunidad
  .sec-content
    %h3 Secretaría de Asistencia y Apertura
    %p
      El propósito de esta secretaría, es promover, afianzar y establecer vínculos con la
      comunidad, tendiendo redes intra e interinstitucionales, brindando un servicio asistencial,
      frente a demandas actuales. A su vez propone generar un ámbito que favorezca el
      desarrollo de la investigación en el campo de la clínica vincular con todos aquellos que
      desarrollen actividades abiertas a la comunidad.
    %h3 ¿Quiénes forman parte de esta secretaria?
    %h4 Equipo de terapeutas
    %ul
      %li Lic. Paola Alvarez
      %li Lic. Mónica Anicetto
      %li Lic. Nilda Frizzo
      %li Lic. Susana Gallardo
      %li Lic. Elsa Gautero
      %li Lic. Daniela Marini
      %li Lic. Regina Pizarro
    %h4 Equipo de supervisores
    %ul
      %li Lic. Luisa Kowadlo
      %li Dra. Lidia Lansky
      %li Lic. Susana Luraschi
      %li Dr. Daniel Spollanski
    %h3 ¿Qué ofrecemos?
    %h4 Terapeutas
    %p
      Atención y asistencia clínica a la comunidad, en abordajes familiares, de parejas,
      grupales e individuales con honorarios reducidos.
    %p
      Se reúnen los 1º y 3º viernes de cada mes a las 15:00 hs.
    %h4 Supervisores
    %p
      Supervisiones a profesionales y equipo de terapeutas de la institución.
    %p
      Supervisiones y asesoramiento a todo tipo de instituciones (públicas o privadas) o a profesionales que lo soliciten.
    %p
      Se reúnen los 3º viernes de cada mes a las 14: 00 hs.
    %h4 Pubertad y Adolescencia
    %p
      Encuentros para compartir e intercambiar experiencias , saberes, interrogantes.
    %p
      Aperturas y búsquedas de nuevas herramientas de intervención que propicien la
      salud, desde lo teórico – técnico y metodológico.
    %p
      Seminarios con temática específica de púberes, adolescentes y jóvenes desde
      una perspectiva familiar, grupal, institucional, a profesionales de la salud e
      interesados en la temática.
    %p
      Contribuir desde diferentes espacios: escuelas, APCVC, otras instituciones, para
      trabajar aspectos saludables de púberes y jóvenes y sus referentes significativos.
    %p
      Atención clínica para adolescentes y su familia.
    %h4 Modalidad
    %p
      Ateneos, talleres, encuentros de intercambios, etc
    %p
      Dispositivos grupales en sus diferentes modalidades, grupo tarea, grupo de
      reflexión, grupo terapéutico, grupo de padres, grupos de docentes.
    %p
      Se reúnen los 1º viernes de cada mes a las 13:15 hs.
  %span Secretaría de Prensa
  .sec-content
    %p El objetivo de esta secretaría es dar a conocer las actividades de formación, científicas de APCVC, a los asociados, profesionales psi, y a instituciones colegas. Con la apoyatura de cartelería, correos electrónicos, redes sociales, se da difusión de jornadas anuales, ciclos debates, encuentros científicos y  a las actividades de formación en nuestra  y en otras provincias. Se confecciona además una agenda con eventos o acontecimientos sociales. "Colgando" estos carteles y conectándonos a través de las redes, llegamos con eficacia y rapidez a un mayor número de personas.
    %p Pero en esta época de globalización y tecnología no descartamos la transmisión boca a boca y la difusión que cada uno de nosotros hacemos  "colgando" carteles  en espacios reales y concretos, por los que transitamos cotidianamente.
