%h1 Tramas Digital
.about-tramas
  %h2 Sobre la revista
  %p.info.info1
    %i (Haga click para ver información)
  %p.info.info2
    %i (Haga click para ocultar información)
  .tramas-article
    %p.center La Revista Tramas nos acompañó en forma discontinua a lo largo de estos 25 años de la APCVC.
    %p.center En ella se plasmaron diferentes temas acerca de la pareja, la familia, las instituciones, el vínculo, la teoría, la clínica vincular, la subjetividad.
    %p.center Muchos han sido los cambios producidos a los que nos enfrentamos  en estos tiempos y diversos los impactos en la subjetividad.
    %p.center La digitalización  de libros y revistas comenzó a coexistir  con los libros y revistas  impresos. Eso marcó un cambio en diferencia
    %p.center Hoy la informática es parte de la subjetividad de la época  y hay que hacerle lugar.
    %p.center Es nuestra intención  acercar nuevas producciones y diferentes miradas , a estos novedosos y cambiantes medios.
    %p.center Los convocamos a escribir.
%h2 Entrevista a Sara Moscona en APCVC a cargo de Córdoba Psi
.tramas-article
  %center
    %iframe.video{allowfullscreen: "", frameborder: "0", height: "315", src: "http://www.youtube.com/embed/zgCD29wuTH4", width: "420"}
%h2 Entrevista a Silvia Gomel en APCVC a cargo de Córdoba Psi
.tramas-article
  %center
    %iframe.video{allowfullscreen: "", frameborder: "0", height: "315", src: "http://www.youtube.com/embed/hxp_-9k-CQA", width: "420"}
%h2 Entrevista a Daniel Waisbrot en APCVC a cargo de Córdoba Psi
.tramas-article
  %center
    %iframe.video{allowfullscreen: "", frameborder: "0", height: "315", src: "http://www.youtube.com/embed/tBXH7jKSbR4", width: "420"}
%h2 Acta Jornada 25 Aniversario
-# .tramas-article
-#   %p.center Para ver el trabajo, haga click sobre el título
-#   - @mesas.each do |mesa|
-#     .album
-#       %h3
-#         Mesa #{mesa.num}
-#       - mesa.trabajos.each do |trabajo|
-#         %ul
-#           %li= link_to trabajo.titulo, trabajo.url, target: "#"
-#     %br/
