.login-info {
  float: right;
}

.admin_actions {
  a {
    border: 1px solid #aaaaaa;
    padding: 5px 3px;
    @include background-image(linear-gradient(darken(#A2C9D6, 10%), lighten(#3E5E68, 5%), darken(#55818F, 10%)));
    @include border-radius(5px);
    font-size: small;
    text-decoration: none;
    color: white;
    font-weight:bold;

    &:hover{
      @include background-image(linear-gradient(darken(#A2C9D6, 20%), lighten(#3E5E68, 0%), darken(#55818F, 20%)));
    }
    /* &:not(:last-child):after{ */
    /*   content: " | "; */
    /* } */
  }
}