form, .form-actions {
  width: 50%;
  margin: 10px auto;
  .field {
    padding: 10px;
    input, label, textarea {
      display: block;
      max-width: 100%;
    }
  }
}

form.new_message{
  textarea {
    height: 250px;
    width: 450px;
  }
}
