#seclist {
  display: block;
  width: 90%;
  position: relative;
  padding: 60px 0 60px 0;
  background: image-url("shad2.png") no-repeat;
  @include background-size(50% 100%);

  span {
    @include border-right-radius(10px);
    font-size: large;
    margin-top: 5px;
    @include single-transition(all 0.3s ease-out);
    background: #cbcbcb image-url("border.png") no-repeat;
    color: #174867;
    padding: 0px 15px 0px 15px;
    width: 70%;
    display: block;
    text-decoration: none;
    @include box-shadow(#888 2px 2px 4px);
  }

  span:hover {
    background: #ebebeb image-url("border.png") no-repeat;
    color: #67a5cd;
    padding: 0px 15px 0px 30px;
  }

  .sec-content{
    margin-left: 50px;
    @include border-radius(15px);
    padding: 20px;
    border: 2px solid #A8382D;
    background-color: rgba(6, 26, 88, 0.2);
  }
}
